apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.web.config.name }}
  labels:
    release: {{ .Release.Name }}
    {{- toYaml .Values.web.config.labels | nindent 4 }}
data:
  COMMUNITY_SERVICE: {{ .Values.community.service.name }}:{{ .Values.community.port }}
  IDENTITY_SERVICE: {{ .Values.identity.service.name }}:{{ .Values.identity.port }}
  WORKSHOP_SERVICE: {{ .Values.workshop.service.name }}:{{ .Values.workshop.port }}
  CHATBOT_SERVICE: {{ .Values.chatbot.service.name }}:{{ .Values.chatbot.port }}
  MAILHOG_WEB_SERVICE: {{ .Values.mailhog.webService.name }}:{{ .Values.mailhog.webPort }}
  TLS_ENABLED: {{ .Values.tlsEnabled | quote }}
