apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.identity.name }}
  labels:
    release: {{ .Release.Name }}
    {{- toYaml .Values.identity.deploymentLabels | nindent 4 }}
spec:
  replicas: {{ .Values.identity.replicaCount }}
  selector:
    matchLabels:
      {{- with .Values.identity.deploymentSelectorMatchLabels }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
  template:
    metadata:
      labels:
        release: {{ .Release.Name }}
        {{- toYaml .Values.identity.podLabels | nindent 8 }}
    spec:
      initContainers:
        - name: wait-for-postgres
          image: {{ .Values.waitForK8sResources.image }}
          imagePullPolicy: {{ .Values.waitForK8sResources.imagePullPolicy }}
          args:
            - "service"
            - {{ .Values.postgresdb.service.name | quote }}
      containers:
        - name: {{ .Values.identity.name }}
          image: {{ .Values.identity.image }}:{{ .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          ports:
          - containerPort: {{ .Values.identity.port }}
          envFrom:
              - configMapRef:
                  name: {{ .Values.identity.config.name }}
          {{- if .Values.identity.resources }}
          resources:
            {{- toYaml .Values.identity.resources | nindent 12 }}
          {{- end }}
          readinessProbe:
            tcpSocket:
              port: {{ .Values.identity.port }}
            initialDelaySeconds: 15
            periodSeconds: 10
