<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="log4j-config">
    <Filter type="ThresholdFilter" level="debug" />

    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n
                </pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console-Appender" />
        </Root>
    </Loggers>

</Configuration>