chromadb==0.5.0
Flask==3.0.3
langchain==0.1.16
langchain_community==0.0.35
langchain_core==0.1.47
langchain_openai==0.1.4
python-dotenv==1.0.1
unstructured==0.13.6
gunicorn==22.0.0
markdown==3.6
langchain-mongodb==0.1.3