python-dotenv==1.0.0
pytesseract
langchain-openai==0.1.1
Flask
pymongo
Flask-HTTPAuth==4.8.0
langchain
chromadb
unstructured
tiktoken
transformers
torch
accelerate
bitsandbytes
ctransformers>=0.2.24
gunicorn
httpx
markdown